---
import Layout from "../layouts/Layout.astro";
import RegisterBlock from "../components/Register/Register";
---

<Layout title="Register">
	<main>
		<RegisterBlock client:only="react" />
	</main>
</Layout>
